header{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f2f0e8;
    text-shadow:0 1px rgba(0, 0, 0, 0.7);
    background: linear-gradient(to right, #f3b98c, #b3d946);
}

h1{
    font-size: 38px;
}